<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="../../js/deleteFunction.js" th:src="@{/js/deleteFunction.js}"></script>
	<title>查找</title>
</head>
<body>

	<div th:replace="page::back" ></div>
	
	<form th:action="@{/findManager}" method="post" align="center">
		真实姓名： <input name="name" type="text" > <br>
		确切工资： <input name="salary" type="text" > <br>
		管理部门： <input name="section" type="text" > <br>
		 目前住址： <input name="location" type="text" > <br>
		联系方式： <input name="tel" type="text" > <br>
		入职时间： <input name="indate" type="text" > <br><br>
		<button type="submit">点击查找</button>
  	</form><br/>
  	<div align="center">查询结果如下：</div><br/>
  	
  	<table border='1' cellspacing='0' align="center">
		<tr>
			<td width="20px" align="center">id</td>
			<td width="70px" align="center">名字</td>
			<td width="55px" align="center">工资</td>
			<td width="65px" align="center">管理部门</td>
			<td width="100px" align="center">住址</td>
			<td width="120px" align="center">联系方式</td>
			<td width="100px" align="center">入职时间</td>
			<td width="40px" align="center">编辑</td>
			<td width="40px" align="center">删除</td>
		</tr>
		<tr th:each="manager: ${session.managersFind}">
			<td th:text="${manager.id}" width="20px" align="center"></td>
			<td th:text="${manager.name}" width="70px" align="center"></td>
			<td th:text="${manager.salary}" width="55px" align="center"></td>
			<td th:text="${manager.section}" width="65px" align="center"></td>
			<td th:text="${manager.location}" width="100px" align="center"></td>
			<td th:text="${manager.tel}" width="120px" align="center"></td>
			<td th:text="${manager.indate}" width="100px" align="center"></td>
			<td width="40px" align="center">
				<a th:href="@{/editManager(id=${manager.id})}">编辑</a>
			</td>
			<td width="40px" align="center">
				<a onclick="return del()" th:href="@{/deleteManager(id=${manager.id})}">删除</a>
			</td>
		</tr>
	</table>
    
</body>
</html>