<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<script type="text/javascript" src="static/js/jquery.min.js"></script>	
<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 	
<script src="static/bootstrap/js/bootstrap.min.js"></script>

<title>Freemarker</title>
</head>
<body>
简单遍历list:
  用户名：张三
  密  码：890123
  年  龄: 18
  用户名：李四
  密  码：901234
  年  龄: 23
  用户名：王五
  密  码：012345
  年  龄: 14
  用户名：赵六
  密  码：123456
  年  龄: 30
  用户名：田七
  密  码：234567
  年  龄: 32
 
item_index使用：
第1个用户
  用户名：张三
  密  码：890123
  年  龄: 18
第2个用户
  用户名：李四
  密  码：901234
  年  龄: 23
第3个用户
  用户名：王五
  密  码：012345
  年  龄: 14
第4个用户
  用户名：赵六
  密  码：123456
  年  龄: 30
第5个用户
  用户名：田七
  密  码：234567
  年  龄: 32

item_has_next,size使用：
  用户名：张三
  密  码：890123
  年  龄: 18
  用户名：李四
  密  码：901234
  年  龄: 23
  用户名：王五
  密  码：012345
  年  龄: 14
  用户名：赵六
  密  码：123456
  年  龄: 30
  用户名：田七
  密  码：234567
  年  龄: 32
    共有5最后一个用户是:田七

按用户年龄升序排序：
  用户名：王五
  密  码：012345
  年  龄: 14
  用户名：张三
  密  码：890123
  年  龄: 18
  用户名：李四
  密  码：901234
  年  龄: 23
  用户名：赵六
  密  码：123456
  年  龄: 30
  用户名：田七
  密  码：234567
  年  龄: 32

按用户年龄降序排序：
  用户名：田七
  密  码：234567
  年  龄: 32
 
  用户名：赵六
  密  码：123456
  年  龄: 30
 
  用户名：李四
  密  码：901234
  年  龄: 23
 
  用户名：张三
  密  码：890123
  年  龄: 18
 
  用户名：王五
  密  码：012345
  年  龄: 14
 

list中应用break:
  用户名：田七
  密  码：234567
  年  龄: 32

</body>
</html>